.main{
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 10;
    padding: 2% 3%;
    transition: all 150ms ease;
    background-color: transparent;

    @media screen and (max-width : 450px) {
        display: none;
    }
}

h1{
    color: inherit !important;
}
.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-basis: 50vw;
}

.links{
    display: flex;
    list-style-type: none;
    justify-content: space-around;
    gap: 10%;
    cursor: pointer;
    
    .link{
        margin-right: 20px;
    }
}

.navButton{
    display: flex;
    button{
        cursor: pointer;
        margin-right: 20px;
        padding: 5px 15px;
        color: #4D77FF;
        background-color: white;
        border: none;
        transition: 200ms ease ;
    }

    button:hover{
        background-color: #56BBF1;
        color: white;
    }
}